@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --main-bg-color: #F2F2EB;
    --dark-bg-color: #2E2E2E;
    --orange-color: #F25922;
    --brown-color: #8C3623;
    --dark-font-color: #262626;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: var(--main-bg-color);
    font-family: 'Poppins', 'sans-serif';
    color: var(--dark-font-color);
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    font-weight: 500;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 1rem;
}

#logo{
    font-size: 1.5rem;
    font-weight: 500;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
}

#menu a{
    display: block;
    padding: .5rem;
}

#menu li a img{
    width: 35px;
    height: 30px;
}

#btn-mobile{
    display: none;
}

#home{
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
}

#home #content{
    width: 40vw;
    padding-left: 150px;
}

#home #content h1{
    font-size: 76px;
    font-weight: 700;
}

#home #content h2{
    font-size: 40px;
    font-weight: 500;
}

#home #content h3{
    font-size: 26px;
    font-weight: 500;
}


#home #imgHome{
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
}

#home #imgHome img{
    width: 650px;
    height: 550px;
}

.wave{
    height: 113px;
    width: 100vw;
}

.wave img{
    width: 100%;
    height: 100%;
    margin: 0;
}

#services{
    background: #8C3623;
    width: 100vw;
    height: 500px;
}

@media (max-width: 768px) {
    
    #menu{
        display: block;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        width: 220px;
        height: 0px;
        top: 100px;
        right: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
    }
    
    #nav.active #menu{
        height: calc(100vh - 100px);
        visibility: visible;
    }
    
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0,0,0,.05);
    }
    
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburguer{
        display: block;
        width: 20px;
        border-top: 2px solid;

    }

    #hamburguer::after,
    #hamburguer::before{
        display: block;
        content: '';
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;        
    }

    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

}